body {
	font-family: 'Quicksand', sans-serif;
}
/* Utility */
img {
	max-width: 100%;
}
.btn-kuning {
	border-radius: 40px;
	padding: 10px 20px;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
}
.btn-kuning-sm {
	border-radius: 40px;
	margin: 10px;
	font-size: 16px;
	font-weight: bold;
}
.container-grey {
	background-color: #EFEFEF;
}
.section {
	padding-top: 20px;
	padding-bottom: 20px;
}
.title-section {
	color: #891A1A;
	font-size: 48px;
	margin-bottom: 10px;
}
.title-section span {
	font-weight: bold;
}
.text-red {
	color: #891A1A;
}
.text-grey {
	color: #707070;
}
.text-grey-bold {
	font-weight: bold;
	color: #707070;
}
hr {
	margin-top: 5px;
	margin-bottom: 5px;
	border: 0;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.card {
	margin: 15px;
}
.card-body {
	padding-top: 5px;
}
.card-title {
	font-weight: 900;
}
.card-img-top {
	padding: 10px;
}
.pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    border-radius: .25rem;
    padding: 0;
    margin: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end
}
.pagination-item {
    margin: 0 4px;
    border: 2px solid #c3c3c3;
    border-radius: 50px;
    height: 40px;
    min-width: 40px;
    text-align: center;
    cursor: pointer;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s
}
.pagination-item i,
.pagination-item span {
    display: inline-block;
    color: #333;
    font-size: 20px;
    line-height: 36px;
    font-weight: 700
}
.pagination-item-active,
.pagination-item:hover {
    background: #efc940;
    border: 2px solid #efc940
}

.pagination-item-active {
    pointer-events: none
}

.pagination-item-disabled {
    height: auto;
    min-width: auto;
    border: none;
    pointer-events: none;
    padding-bottom: 5px;
    margin: 0 11px
}


/* Navbar */
.navbar {
	padding-top: 0;
    padding-bottom: 0;
}
.navbar-brand {
	margin-right: 30px !important;
}
.nav-link {
	text-transform: uppercase;
	margin-right: 30px;
	padding-top: 15px;
	padding-bottom: 15px;
	font-weight: bold;
}
.navbar-nav > .active {
	background-color: #FFA3A3;
}
.nav-link:hover::after {
	content: '';
	display: block;
	border-bottom: 3px solid #FFA3A3;
	width: 50%;
	margin: auto;
	padding-bottom: 5px;
	margin-bottom: -8px;
}
.big-button {
	text-transform: uppercase;
	padding-top: 15px;
    padding-bottom: 15px;
	border-radius: 0;
	font-weight: bold;
}

/* Header Image */
.jumbotron {
	background-size: cover;
	background-position: center center;
	color: #FFF;
	margin-top: -39px;
	margin-bottom: 0;
}
.home-header {
	background-image: linear-gradient(90deg,rgba(25,10,8,.64),rgba(124,35,28,.73)),url(https://source.unsplash.com/AEaTUnvneik/1920x1080);
	height: 640px;
}
.jumbotron .display-4 {
	margin-top: 80px;
	font-weight: bold;
}
.jumbotron .lead {
	max-width: 500px;
}
.jumbotron .btn-kuning {
	margin-top: 30px;
}

/* Video Profile */
.video-profile {
	background-image: linear-gradient(90deg,rgba(25,10,8,.64),rgba(0,0,0,.73)),url(https://source.unsplash.com/j9jZSqfH5YI/640x426);
	background-size: cover;
	border-radius: 10px;
	height: 200px;
	margin-top: -150px;
	color: #FFF;
}
.video-profile .caption {
	margin-top: 150px;
}

/* Tentang & Nilai-nilai */
.tentang-kami, .nilai-kami, .nilai-kami img {
	padding-top: 20px;
	padding-bottom: 20px;
}

/* Kami Ada Untukmu */
.container-untukmu {
	background-image: linear-gradient(90deg,rgba(25,10,8,.64),rgba(0,0,0,.73)),url(https://source.unsplash.com/Zyx1bK9mqmA/480x270);
	background-size: cover;
	background-position: center center;
	height: auto;
	color: #FFF;
	padding-bottom: 1.5rem;
}
.container-untukmu .container {
	max-width: 700px;
}
.container-untukmu .title-section {
	color: #FFF !important;
	margin-top: 30px;
}
.container-untukmu h3 {
	font-weight: 200;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}

/* Program */
.program {
	padding-top: 100px;
}
.program-desc {
	padding-top: 30px;
}
.program-desc .title-section {
	max-width: 400px;
}
.program-1 {
	background-image: linear-gradient(180deg,rgba(25,10,8,.64),rgba(101,53,100,.73)),url(https://source.unsplash.com/Zyx1bK9mqmA/390x390);
	background-size: cover;
	background-position: center center;
	height: 390px;
	color: #FFF;
}
.program-1 {
	background-image: linear-gradient(180deg,rgba(25,10,8,.64),rgba(101,53,100,.73)),url(https://source.unsplash.com/Zyx1bK9mqmA/390x390);
	background-size: cover;
	background-position: center center;
	height: 390px;
	color: #FFF;
}
.program-more {
	padding-top: 30px;
}

/* Divider Home*/
.container-divider {
	background-image: url(../img/team.png);
	background-size: cover;
	background-position: center center;
	height: 560px;
}
/* Divider Bottom*/
.container-divider-bottom {
	background-image: url(../img/divider.png);
	background-size: cover;
	background-position: center center;
	height: 170px;
}

/* Footer */
.container-footer {
	background-color: #333333;
	color: #FFF;
}
.container-footer hr {
	border-top: 1px solid #FFF;
}
.container-footer h4 {
	font-weight: bold;
}

.float {
	display: none;
}
/* Mobile */
@media (max-width: 992px) {
	.navbar-nav, .navbar-toggler {
		display: none;
	}
	.navbar-brand {
		margin-right: auto !important;
	}
	.video-profile {
		display: none;
	}
	.tentang-kami .btn-kuning {
		margin-bottom: 20px;
	}
	.tentang-kami-desc {
		display: none;
	}
	.program-desc {
		padding-top: 0;
	}
	.card {
		margin-right: 0;
		margin-bottom: 5px;
		margin-left: 0;
	}

	.jumbotron .btn-kuning {
		display: none;
	}
	.action-btn-section .btn-kuning {
		font-size: 16px;
	}
	
	.float{
		z-index: 999;
		display: block;
		position:fixed;
		padding-top: 3vh;
		width: 100px;
		height: 100px;
		bottom: 40px;
		right: 0px;
		background-color: #FFCA0D;
		color: #000;
		font-weight: bold;
		text-align: center;
		box-shadow: 2px 2px 3px #999;
	}
	.my-float{
		margin-top:22px;
	}
}